{% load static %}

<nav>
    <div class="nav_menu_icon container">
        <div class="nav__top">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'image/logo/logo store 2.svg' %}" alt="">
            </a>
            <form action="" method="get" enctype="multipart/form-data">
                <label for="s" class="label_search">
                    <input id="s" type="text" placeholder="Поиск по товарам" class="serch_in">
                    <button type="submit">
                        <img class="icon_serch" src="{% static 'image/icons/Vector.svg' %}" alt="">
                    </button>
                </label>
            </form>
            <div class="nav_icon">
                <ul class="icon">
                    <li>
                        <a href="#" class="click_icon">
                            <img src="{% static 'image/icon_header/Group 524.svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="click_icon">
                            <img src="{% static 'image/icon_header/bi_cart3 (1).svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="click_icon">
                            <img src="{% static 'image/icon_header/Group 522 (1).svg' %}" alt="">
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#!" class="category_burger"><img src="{% static 'image/icons/burger.svg' %}" alt="">
                        </a>
                        <div class="dropdown-content">
                            <ul class="list_burger">
                                {% for category in categories %}
                                <li class="burger_list">
                                    <a href="{% url 'categories' category.slug %}">
                                        <img src="{{ category.icon.url }}" alt="{{ category.name }}">
                                        <span class="burger_text">{{ category.name }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


    </div>

</nav>