{% extends 'base.html' %}


{% block title %}
Категория
{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h2 class="content__title">Смартфоны</h2>

        <div class="list_filter">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="list_label">
                    <div class="brand">
                        <button class="cat_name" type="button"><span>Бренд</span> <img
                                src="../image/icons/errow_down.svg" alt=""></button>
                        <ul class="list_cat">
                            <li><a class="category" href="#">Samsung</a></li>
                            <li><a class="category" href="#">Apple</a></li>
                            <li><a class="category" href="#">Xiaomi</a></li>
                        </ul>

                    </div>


                    <div class="brand brand1">
                        <button class="cat_name" type="button"><span>Бренд</span> <img
                                src="../image/icons/errow_down.svg" alt=""></button>
                        <ul class="list_cat">
                            <li><a class="category" href="#">Чёрный</a></li>
                            <li><a class="category" href="#">Белый</a></li>
                            <li><a class="category" href="#">Серебристый</a></li>
                        </ul>
                    </div>


                    <div class="brand brand2">
                        <button class="cat_name" type="button"><span>Память</span> <img
                                src="../image/icons/errow_down.svg" alt=""></button>
                        <ul class="list_cat">
                            <li><a class="category" href="#">2</a></li>
                            <li><a class="category" href="#">4</a></li>
                            <li><a class="category" href="#">6</a></li>
                        </ul>
                    </div>


                    <div class="brand brand3">
                        <button class="cat_name" type="button"><span>Цена</span> <img
                                src="../image/icons/errow_down.svg" alt=""></button>
                        <ul class="list_cat">
                            <li><a class="category" href="#">2 000 000</a></li>
                            <li><a class="category" href="#">3 000 000</a></li>
                            <li><a class="category" href="#">5 000 000</a></li>
                        </ul>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>


<div class="content">
    <div class="container">

        <div class="content__cards list_cards">

            <div class="card h-card">
                <a href="">
                    <div class="card_img">
                        <img src="../image/goods/Rectangle 356 (2).png" alt="" class="image_good">
                    </div>
                    <p class="card_title">Смартфон Samsung Galaxy
                        A52 White 128Gb</p>
                    <div class="card_price">
                        <p class="price">3 619 000 сум</p>
                        <span class="data_price">От 418 000 сум / 12 мес</span>
                    </div>
                </a>
                <div class="card_button">
                    <a class="btn_card" href=""><img src="../image/icons/cage.svg" alt=""> <span class="btn_text">В
                            корзину</span> </a>

                    <a href="" class="link_fav">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card h-card">
                <a href="">
                    <div class="card_img">
                        <img src="../image/goods/Rectangle 356 (1).png" alt="" class="image_good">
                    </div>
                    <p class="card_title">Apple iPhone 13 Pro Max
                        RM/A 6/128GB</p>
                    <div class="card_price">
                        <p class="price">16 729 000 сум</p>
                        <span class="data_price">От 1 933 000 сум / 12 мес</span>
                    </div>
                </a>
                <div class="card_button">
                    <a class="btn_card" href=""> <img src="../image/icons/cage.svg" alt=""> <span class="btn_text">В
                            корзину</span></a>
                    <a href="" class="link_fav">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>


            <div class="card h-card">
                <a href="">
                    <div class="card_img">
                        <img src="../image/goods/Rectangle 356 (2).png" alt="" class="image_good">
                    </div>
                    <p class="card_title">Смартфон Samsung Galaxy
                        A52 White 128Gb</p>
                    <div class="card_price">
                        <p class="price">3 864 000 сум</p>
                        <span class="data_price">От 466 900 сум / 12 мес</span>
                    </div>
                </a>
                <div class="card_button">
                    <a class="btn_card" href=""> <img src="../image/icons/cage.svg" alt=""><span class="btn_text">В
                            корзину</span></a>
                    <a href="" class="link_fav">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card h-card">
                <a href="">
                    <div class="card_img">
                        <img src="../image/goods/Rectangle 356 (2).png" alt="" class="image_good">
                    </div>
                    <p class="card_title">Смартфон Samsung Galaxy
                        A52 White 128Gb</p>
                    <div class="card_price">
                        <p class="price">3 864 000 сум</p>
                        <span class="data_price">От 466 900 сум / 12 мес</span>
                    </div>
                </a>
                <div class="card_button">
                    <a class="btn_card" href=""> <img src="../image/icons/cage.svg" alt=""><span class="btn_text">В
                            корзину</span></a>
                    <a href="" class="link_fav">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card h-card">
                <a href="">
                    <div class="card_img">
                        <img src="../image/goods/Rectangle 356 (2).png" alt="" class="image_good">
                    </div>
                    <p class="card_title">Смартфон Samsung Galaxy
                        A52 White 128Gb</p>
                    <div class="card_price">
                        <p class="price">3 864 000 сум</p>
                        <span class="data_price">От 466 900 сум / 12 мес</span>
                    </div>
                </a>
                <div class="card_button">
                    <a class="btn_card" href=""> <img src="../image/icons/cage.svg" alt=""><span class="btn_text">В
                            корзину</span></a>
                    <a href="" class="link_fav">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card h-card">
                <a href="">
                    <div class="card_img">
                        <img src="../image/goods/Rectangle 356 (2).png" alt="" class="image_good">
                    </div>
                    <p class="card_title">Смартфон Samsung Galaxy
                        A52 White 128Gb</p>
                    <div class="card_price">
                        <p class="price">3 864 000 сум</p>
                        <span class="data_price">От 466 900 сум / 12 мес</span>
                    </div>
                </a>
                <div class="card_button">
                    <a class="btn_card" href=""> <img src="../image/icons/cage.svg" alt=""><span class="btn_text">В
                            корзину</span></a>
                    <a href="" class="link_fav">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>



        </div>

        <div class="pagination">
            <div class="list_pag">
                <a href="" class="next_last"><img src="../image/icons/strelka_levo.svg" alt=""></a>
                <a href="" class="pag">1</a>
                <a href="" class="pag">2</a>
                <a href="" class="pag">3</a>
                <a href="" class="pag">4</a>
                <a href="" class="pag">5</a>
                <a href="" class="next_last"><img src="../image/icons/strelka_pravo.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}